{% extends "mad_libs/base.html" %}
{% block title %}Mad Libs{% endblock %}
{% block body %}
    <h1>Mad Libs</h1>
    <p>Fill out the fields below and click the generate button to see the story.</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label style="color: var(--foreground) !important;" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Generate" />
    </form>
{% endblock %}
